@charset "UTF-8";

    /* Formatação das Imagens */

    ul#album-fotos{
        list-style: none;
        padding-left: 130px;
        overflow: hidden;
    }

    ul#album-fotos li{
        margin: 3px;
        float: left;
        transition: -webkit-transform .5s;
    }

    ul#album-fotos li:hover{
        -webkit-transform: scale(1.5);
    }

    ul#album-fotos li img{
        border: 5px solid black;
        box-shadow: 1px 1px 20px gray;
        z-index: 1;
    }

    /* Formatação de Titulos*/

    header#cabecalho-fotos h1{
        color: #606060;
        margin-top: 20px;
        margin-left: 10px;
    }

    article.artigo p{
        margin: 30px 13px 50px 13px;
    }

    /* Formatação das Imagens*/
