@charset "UTF-8";

    /* Formatação das Imagens */

    ul{
        list-style: none;
        display: block;
        float: right;
    }

    ul li {
        float: left;
    }

    li img{
        background-color: rgba(0,0,0,.4);
        width: 20%;
        height: 20%;
    }

    /* Formatação de Titulos*/

    header#cabecalho-fotos h1{
        color: #606060;
        margin-top: 20px;
        margin-left: 50px;
    }

    header#cabecalho-fotos h2{
        color: #606060;
        margin-top: 20px;
        margin-left: 50px;
    }

    /* Formatação Interface */

    div#interface-fotos{
        width: 1200px;
        background-color: white;
        margin: -20px auto -50px auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        padding: 10px;
    }

    /* Formatação das Imagens*/
