@charset "UTF-8";

    /* Formatação das Imagens */

    ul#album-fotos{
        list-style: none;
        padding-left: 130px;
    }

    ul#album-fotos li {
        float: left;
    }

    ul#album-fotos li img{
        background-color: rgba(0,0,0,.4);
    }

    /* Formatação de Titulos*/

    header#cabecalho-fotos h1{
        color: #606060;
        margin-top: 20px;
        margin-left: 10px;
    }

    article.artigo p{
        margin: 30px 13px 50px 13px;
    }

    /* Formatação das Imagens*/
